#my-signin2>div{
    margin: auto;
}

.dashboard_info p{
    white-space: pre;
}

.signup-form h3{
    text-decoration: underline;
}

#post-count .card{
    cursor: pointer;
}

#submission_list .card-text{
    white-space: pre;
}

.table-display{
    display: table;
}

#post-count .card-title {
    width: 100%;
    font-size: 7rem;
}

.mt-5{
    margin-top: 5%;
}

.header{
    margin: 20px 0px;
}

.m-auto-horizontal{
    margin: 10px auto!important;
}

#submission_list .card-text{
    padding: 10px;
    border-radius: 2px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0), inset 5px 5px 8px rgba(0, 0, 0, 0.2)
}

body{
    font-family: 'Roboto', sans-serif;
}
.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}
.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{        
    border-radius: 3px;
}
.signup-form{
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form h3{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}
.signup-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}
.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}
.signup-form .row div:first-child{
    padding-right: 10px;
}
.signup-form .row div:last-child{
    padding-left: 10px;
}    	
.signup-form a{
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}	
.signup-form form a:hover{
    text-decoration: underline;
}  